* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 8%);
  color: white;
  font-family: "Inter";
  height: 100vh;
}

.card-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 384px;
  background-color: hsl(0, 0%, 12%);
  border-radius: 12px;
  overflow: hidden;
}

.avatar-img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-top: 40px;
}

.name {
  font-size: 24px;
  margin-bottom: 4px;
}

.location {
  color: hsl(75, 94%, 57%);
  text-align: center;
  /* font-size: 14px; */
}

.skills {
  font-size: 15px;
  font-weight: 700px;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.link-container {
  width: 100%;
}
.social-link:link,
.social-link:visited {
  display: block;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 700;
  background-color: hsl(0, 0%, 20%);
  padding: 12px 0 12px 0;
  margin: 0 16px 0 16px;
}

.social-link:hover,
.social-link:active {
  color: hsl(0, 0%, 20%);
  background-color: hsl(75, 94%, 57%);
  cursor: pointer;
}
